

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.playerArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    /* border: 2px solid rgb(222, 24, 24) */
}

.player1, .player2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vb;
    width:45vb;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid black */
}
#pokemonImage, #pokemonImage2{
    padding: 10px;
}