body{
    background-image: url(stadium.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 1em;                                    
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.playerArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}

.player1, .computer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49vb;
    width:49vb;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(7, 7, 7, 0.3);
}
#pokemonImage, #comPokemonImage{
    
    animation: slideInRight 2s;
   
}  
#pokemonName, #comPokemonName{
   padding: 20%;
} 

#comPokemonImage{
    animation: slideInLeft 2s;
}    

#startButton{
    display: flex;
    border-radius: 50%;
    background-color: rgba(7, 7, 7, 0.3);
    color: white;
    font-size: 1.5em;
    font-family: 'Pokemon Solid', sans-serif;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vh;
    opacity: 0.8;   
}
#startbutton:hover{
    opacity: 1;
    background-color: red;
    cursor: pointer;
}


/* Shaking Animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-10deg); }
    20% { transform: translate(-3px, 0px) rotate(3deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(10deg); }
    50% { transform: translate(-1px, 2px) rotate(-10deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-10deg); }
    80% { transform: translate(-1px, -1px) rotate(10deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-10deg); }
  }
  
  .shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

 @keyframes slideInLeft{
        0%{
            transform: translateX(1000px);
        }
        100%{
            transform: translateX(0px);
        }
 }

    @keyframes slideInRight{
            0%{
                transform: translateX(-1000px);
            }
            100%{
                transform: translateX(0px);
            }
    }


/* Modal Style */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 932px; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    align-content: center;
    
   
}
  .modal-img{
    width: 10vw;
    height: 10vw;
}
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://mcdn.wallpapersafari.com/medium/29/32/ZgUwYN.jpg);
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 50%;
    border: 1px solid #888;
    box-shadow: 20px 20px 10px 0 rgba(0,0,0,0.4);
    
    
  }
  
  /* The Close Button */
  .close {
    display: none;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-btn{
    width: 50%;
    height: auto;
    margin-top: 5x;
    margin-bottom: 10px;
  }

  .modal-title{
    padding: 10px;
}



/* Attack Modal  */

.attackModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 932px; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(8, 8, 8, 0.755); /* Black w/ opacity */
    text-align: center;
    align-content: center;
    
   
}
  .modal-img{
    width: 10vw;
    height: 10vw;
}
  
  /* Attack Modal Content */
  .AttackModalContent {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 100px;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 20px 20px 10px 0 rgba(0,0,0,0.4);
    
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-btn{
    width: 50%;
    height: auto;
    margin-top: 5x;
    margin-bottom: 10px;
  }

  .modal-title{
    padding: 10px;
}

.damageModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 932px; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(8, 8, 8, 0.755); /* Black w/ opacity */
  text-align: center;
  align-content: center;
  
 
}
.modal-img{
  width: 10vw;
  height: 10vw;
}

/* Damage  Modal Content */
.damageModalContent {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 100px;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 20px 20px 10px 0 rgba(0,0,0,0.4);
  
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn{
  width: 50%;
  height: auto;
  margin-top: 5x;
  margin-bottom: 10px;
}

.modal-title{
  padding: 10px;
}
@media only  screen and (max-width: 450px){
  #pokemonImage {
    height: 40%;

}
  #comPokemonImage {
    height: 40%;
  }



}